<form name="form1" action="controllerForm" method="post">
    <input type="text" name="id" id="id" placeholder="Id"><br>
    <input type="text" name="nome" id="nome" placeholder="Nome"><br>
    <input type="number" name="idade" id="idade" placeholder="Idade"><br>
    <input type="submit" name="btnSubmit" id="btnSubmit" value="Adicionar">
</form>