<form name="form1" action="/controllerUpdate" method="post">
    <input type="hidden" name="id" id="id" placeholder="Id" value="{{id}}"><br>
    <input type="text" name="nome" id="nome" placeholder="Nome" value="{{nome}}"><br>
    <input type="text" name="idade" id="idade" placeholder="Idade" value="{{idade}}"><br>
    <input type="submit" name="btnSubmit" id="btnSubmit" value="Update"><br>
</form>